<option value="light" class="capitalize">light</option>
<option value="dark" class="capitalize">dark</option>
<option value="cupcake" class="capitalize">cupcake</option>
<option value="bumblebee" class="capitalize">bumblebee</option>
<option value="emerald" class="capitalize">emerald</option>
<option value="corporate" class="capitalize">corporate</option>
<option value="synthwave" class="capitalize">synthwave</option>
<option value="retro" class="capitalize">retro</option>
<option value="cyberpunk" class="capitalize">cyberpunk</option>
<option value="valentine" class="capitalize">valentine</option>
<option value="halloween" class="capitalize">halloween</option>
<option value="garden" class="capitalize">garden</option>
<option value="forest" class="capitalize">forest</option>
<option value="aqua" class="capitalize">aqua</option>
<option value="lofi" class="capitalize">lofi</option>
<option value="pastel" class="capitalize">pastel</option>
<option value="fantasy" class="capitalize">fantasy</option>
<option value="wireframe" class="capitalize">wireframe</option>
<option value="black" class="capitalize">black</option>
<option value="luxury" class="capitalize">luxury</option>
<option value="dracula" class="capitalize">dracula</option>
<option value="cmyk" class="capitalize">cmyk</option>
<option value="autumn" class="capitalize">autumn</option>
<option value="business" class="capitalize">business</option>
<option value="acid" class="capitalize">acid</option>
<option value="lemonade" class="capitalize">lemonade</option>
<option value="night" class="capitalize">night</option>
<option value="coffee" class="capitalize">coffee</option>
<option value="winter" class="capitalize">winter</option>
<option value="dim" class="capitalize">dim</option>
<option value="nord" class="capitalize">nord</option>
<option value="sunset" class="capitalize">sunset</option>