{% extends 'base.html' %}
{% load static %}
{% block title %}Product{% endblock %}

{% block content %}
<div class="p-5 min-h-screen">
    <div class="container mx-auto px-4 py-8" id="productPage">
        <div class="flex flex-wrap -mx-4">
            <!-- Product Images -->
            <div class="w-full md:w-1/2 px-4 mb-8">
                <img src="https://images.unsplash.com/photo-1505740420928-5e560c06d30e?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHwxfHxoZWFkcGhvbmV8ZW58MHwwfHx8MTcyMTMwMzY5MHww&ixlib=rb-4.0.3&q=80&w=1080"
                    alt="Product" class="w-full h-auto rounded-lg shadow-md mb-4" id="mainImage">
                <div class="flex gap-4 py-4 justify-center overflow-x-auto">
                    <img src="https://images.unsplash.com/photo-1505751171710-1f6d0ace5a85?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHwxMnx8aGVhZHBob25lfGVufDB8MHx8fDE3MjEzMDM2OTB8MA&ixlib=rb-4.0.3&q=80&w=1080"
                        alt="Thumbnail 1"
                        class="size-16 sm:size-20 object-cover rounded-md cursor-pointer opacity-60 hover:opacity-100 transition duration-300"
                        onclick="changeImage(this.src)">
                    <img src="https://images.unsplash.com/photo-1484704849700-f032a568e944?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw0fHxoZWFkcGhvbmV8ZW58MHwwfHx8MTcyMTMwMzY5MHww&ixlib=rb-4.0.3&q=80&w=1080"
                        alt="Thumbnail 2"
                        class="size-16 sm:size-20 object-cover rounded-md cursor-pointer opacity-60 hover:opacity-100 transition duration-300"
                        onclick="changeImage(this.src)">
                    <img src="https://images.unsplash.com/photo-1496957961599-e35b69ef5d7c?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw4fHxoZWFkcGhvbmV8ZW58MHwwfHx8MTcyMTMwMzY5MHww&ixlib=rb-4.0.3&q=80&w=1080"
                        alt="Thumbnail 3"
                        class="size-16 sm:size-20 object-cover rounded-md cursor-pointer opacity-60 hover:opacity-100 transition duration-300"
                        onclick="changeImage(this.src)">
                    <img src="https://images.unsplash.com/photo-1528148343865-51218c4a13e6?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHwzfHxoZWFkcGhvbmV8ZW58MHwwfHx8MTcyMTMwMzY5MHww&ixlib=rb-4.0.3&q=80&w=1080"
                        alt="Thumbnail 4"
                        class="size-16 sm:size-20 object-cover rounded-md cursor-pointer opacity-60 hover:opacity-100 transition duration-300"
                        onclick="changeImage(this.src)">
                </div>
            </div>

            <!-- Product Details -->
            <div class="w-full md:w-1/2 px-4">
                <h2 class="text-3xl font-bold mb-2" id="productName"></h2>
                <div class="mb-4">
                    <span class="text-2xl font-bold mr-2">
                        $ <span id="productPrice"></span>
                    </span>
                </div>
                <div class="flex items-center mb-4">
                    <i
                        class="fa fa-star transition delay-150 text-primary hover:text-warning scale-80 ease-in-out duration-300 hover:scale-105 me-1 cursor-pointer"></i>
                    <i
                        class="fa fa-star transition delay-150 text-primary hover:text-warning scale-80 ease-in-out duration-300 hover:scale-105 me-1 cursor-pointer"></i>
                    <i
                        class="fa fa-star transition delay-150 text-primary hover:text-warning scale-80 ease-in-out duration-300 hover:scale-105 me-1 cursor-pointer"></i>
                    <i
                        class="fa fa-star transition delay-150 text-primary hover:text-warning scale-80 ease-in-out duration-300 hover:scale-105 me-1 cursor-pointer"></i>
                    <i
                        class="fa fa-star transition delay-150 text-primary hover:text-warning scale-80 ease-in-out duration-300 hover:scale-105 me-1 cursor-pointer"></i>
                    <span class="ml-2 text-gray-600">4.5 (120 reviews)</span>
                </div>
                <p class=mb-6" id="productDescription"></p>

                <div class="mb-6">
                    <h3 class="text-lg font-semibold mb-2">Color:</h3>
                    <div class="flex space-x-2">
                        <button
                            class="w-8 h-8 bg-black rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black"></button>
                        <button
                            class="w-8 h-8 bg-gray-300 rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300"></button>
                        <button
                            class="w-8 h-8 bg-blue-500 rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"></button>
                    </div>
                </div>

                <div class="mb-6 flex items-center justify-start">
                    <p class="block text-sm me-3">Available Stock:</p>
                    <p class="block text-sm" id="productStock"></p>
                </div>

                <div class="flex space-x-4 mb-6">
                    <button
                        class="bg-indigo-600 flex gap-2 items-center text-white px-6 py-2 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
                        id="addToCartButton">
                        <i class="fa fa-cart-shopping"></i>
                        Add to Cart
                    </button>
                    <button
                        class="bg-gray-200 flex gap-2 items-center  text-gray-800 px-6 py-2 rounded-md hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2"
                        id="addToWishlistButton">
                        <i class="fa fa-heart"></i>
                        Wishlist
                    </button>
                </div>

                <div>
                    <h3 class="text-lg font-semibold mb-2">Key Features:</h3>
                    <ul class="list-disc list-inside">
                        <li>Industry-leading noise cancellation</li>
                        <li>30-hour battery life</li>
                        <li>Touch sensor controls</li>
                        <li>Speak-to-chat technology</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>
        function changeImage(src) {
            document.getElementById('mainImage').src = src;
        }
    </script>
</div>
{%endblock%}