{% extends 'base.html' %}
{% load static %}
{% block title %}Wishlist{% endblock %}

{% block content %}
<section class="py-8 antialiased md:py-16">
    <div class="mx-auto px-4 2xl:px-0">
        <h2 class="text-xl font-semibold sm:text-2xl">Wishlist</h2>

        <div class="mt-6 sm:mt-8 md:gap-6 lg:flex lg:items-start xl:gap-8">
            <div class="mx-auto w-full flex-none lg:max-w-2xl xl:max-w-4xl">
                <div class="space-y-6" id="wishlistItems">

                </div>
            </div>
            <div class="mx-auto mt-6 max-w-4xl flex-1 space-y-6 lg:mt-0 lg:w-full">
                <div
                    class="space-y-4 rounded-lg border border-gray-200 bg-white p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 sm:p-6">
                    <p class="text-xl font-semibold">Order summary</p>
                    <div class="space-y-4">
                        <div class="space-y-2">
                            <dl class="flex items-center justify-between gap-4">
                                <dt class="text-base font-normal">Original price</dt>
                                <dd class="text-base font-medium" id="total"></dd>
                            </dl>

                            <dl class="flex items-center justify-between gap-4">
                                <dt class="text-base font-normal">Tax</dt>
                                <dd class="text-base font-medium" id="tax"></dd>
                            </dl>
                        </div>

                        <dl
                            class="flex items-center justify-between gap-4 border-t border-gray-200 pt-2 dark:border-gray-700">
                            <dt class="text-base font-bold">Total</dt>
                            <dd class="text-base font-bold" id="grandTotal"></dd>
                        </dl>
                    </div>
                    <div class="flex items-center justify-center gap-2">
                        <span class="text-sm font-normal"> or </span>
                        <a href="{% url 'store' %}" title="" class="btn" role="button">
                            Continue Shopping
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}