{% extends 'base.html' %}
{% load static %}
{% block title %}Terms{% endblock %}

{% block content %}
<div class="p-5 min-h-screen">
    <div class="diff rounded my-10">
        <div class="diff-item-1">
            <div class="bg-primary text-primary-content grid place-content-center font-black">
                Terms and Conditions
            </div>
        </div>
        <div class="diff-item-2">
            <div class="bg-base-200 grid place-content-center font-black">
                Terms and Conditions
            </div>
        </div>
        <div class="diff-resizer"></div>
    </div>
</div>
{% endblock %}