<div class="pre"><code>{
  "count": 32,
  "next": "http://127.0.0.1:8000/api/products/?page=2",
  "previous": null,
  "results": [
    {
      "id": 7,
      "category": {
        "id": 14,
        "title": "stationary",
        "description": ""
      },
      "images": [
        {
          "id": 25,
          "image": "https://picsum.photos/512/512",
          "product": 7
        },
        {
          "id": 26,
          "image": "https://picsum.photos/512/512",
          "product": 7
        },
        {
          "id": 27,
          "image": "https://picsum.photos/512/512",
          "product": 7
        },
        {
          "id": 28,
          "image": "https://picsum.photos/512/512",
          "product": 7
        }
      ],
      "created": "2024-10-04T10:28:54.382209+05:30",
      "modified": "2024-10-04T10:28:54.382228+05:30",
      "title": "Red Nail Polish",
      "description": "The Red Nail Polish offers a rich and glossy
       red hue for vibrant and polished nails. With a quick-drying 
       formula, it provides a salon-quality finish at home.",
      "status": 1,
      "activate_date": null,
      "deactivate_date": null,
      "price": "0.71",
      "stock": 51
    },
    {
      "id": 19,
      "category": {
        "id": 6,
        "title": "health & beauty",
        "description": ""
      },
      "images": [
        {
          "id": 73,
          "image": "https://picsum.photos/512/512",
          "product": 19
        },
        {
          "id": 74,
          "image": "https://picsum.photos/512/512",
          "product": 19
        },
        {
          "id": 75,
          "image": "https://picsum.photos/512/512",
          "product": 19
        },
        {
          "id": 76,
          "image": "https://picsum.photos/512/512",
          "product": 19
        }
      ],
      "created": "2024-10-04T10:28:54.383304+05:30",
      "modified": "2024-10-04T10:28:54.383322+05:30",
      "title": "Beef Steak",
      "description": "High-quality beef steak, great for grilling or
       cooking to your preferred level of doneness.",
      "status": 1,
      "activate_date": null,
      "deactivate_date": null,
      "price": "0.60",
      "stock": 67
    },
    {
      "id": 28,
      "category": {
        "id": 2,
        "title": "women's",
        "description": ""
      },
      "images": [
        {
          "id": 109,
          "image": "https://picsum.photos/512/512",
          "product": 28
        },
        {
          "id": 110,
          "image": "https://picsum.photos/512/512",
          "product": 28
        },
        {
          "id": 111,
          "image": "https://picsum.photos/512/512",
          "product": 28
        },
        {
          "id": 112,
          "image": "https://picsum.photos/512/512",
          "product": 28
        }
      ],
      "created": "2024-10-04T10:28:54.384085+05:30",
      "modified": "2024-10-04T10:28:54.384101+05:30",
      "title": "Green Chili Pepper",
      "description": "Spicy green chili pepper, ideal for adding
       heat to your favorite recipes.",
      "status": 1,
      "activate_date": null,
      "deactivate_date": null,
      "price": "0.47",
      "stock": 60
    },
    {
      "id": 26,
      "category": {
        "id": 5,
        "title": "electronics",
        "description": ""
      },
      "images": [
        {
          "id": 101,
          "image": "https://picsum.photos/512/512",
          "product": 26
        },
        {
          "id": 102,
          "image": "https://picsum.photos/512/512",
          "product": 26
        },
        {
          "id": 103,
          "image": "https://picsum.photos/512/512",
          "product": 26
        },
        {
          "id": 104,
          "image": "https://picsum.photos/512/512",
          "product": 26
        }
      ],
      "created": "2024-10-04T10:28:54.383915+05:30",
      "modified": "2024-10-04T10:28:54.383932+05:30",
      "title": "Fish Steak",
      "description": "Quality fish steak, suitable for grilling,
       baking, or pan-searing.",
      "status": 1,
      "activate_date": null,
      "deactivate_date": null,
      "price": "0.36",
      "stock": 91
    }
  ]
}
                                        </code></div>